.projectListContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.projectPage {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
